@media screen and (max-width: 480px) {
  header {
    margin: 40px auto 40px auto;
    width: 100%;
  }
  #logo h1 {
    font-size: 3em;
    letter-spacing: 5px;
    line-height: 0.8em;
  }
  nav li {
    font-size: 1.3em;
  }
  
  #website-list { 
  font-size: 1.15em;
  -webkit-column-count: 1;
  -mox-column-count: 1;
  column-count: 1;
  }
  
}